 nav {
    background: #18191c;
    padding: 0 20px;
  }
  nav .container {
    max-width: 1500px;
    min-width: 1500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    
  }
  nav .container .logo {
    width: 100px;
    height: 100px;
    background-size: contain; 
    filter:  invert(1); 
    background-color: transparent;
    justify-content: center;
    align-items: center; 
  }
  nav .container .logo img {
    width: 100%;
    margin-top: 7px;
    height: 85%;    
  }
  nav .menu {
    display: flex;
    gap: 15px;
    align-items: center;
  }
  nav .menu button {
    height: fit-content;
    padding: 7px;
    border: 1px solid #f1f3f6;
    color: #f1f3f6;
    background: transparent;
    font-size: 15px;
    font-weight: 300;
  }
  nav .menu button:hover {
    color: #f1f3f6;
    background: #184235;
    transition: all 0.3s;
    cursor: pointer;
    font-weight: 500;
    border: 1px solid #184235;
  }
  nav .menu li a {
    color: #f1f3f6;
    text-decoration: none;
    font-weight: 300;
    font-size: 20px;
    position: relative;
  }
  nav .menu li a:hover {
    color: #2d5649;
    transition: all 0.3s;
  }
  nav .menu li a::before {
    content: "";
    position: absolute;
    background: #184235;
    height: 1px;
    width: 100%;
    left: -100%;
    bottom: 0;
    transition: all 0.3s;
  }
  nav .menu li a:hover::before {
    transition: all 0.3s;
    left: 0;
  }
  nav .hamburger {
    /* display: none; */
    color: #f1f3f6;
    font-size: 34px;
    align-items: center;
    justify-content: center;
    display: block;
    margin-top: 30px;
    margin-right: 30px;
    
  }
  .page {
    padding-top: 120px;
  }
  nav {
    position: fixed;
    width: 100%;
    right: 0;
    top: 0;
    z-index: 10;
  }
  nav .hamburger {
    display: block;
    font-size: 35px;
    color: #f1f3f6;
  }
  nav .container {
    align-items: center;
  }
  .menu {
    position: fixed;
    /* top: 70px; */
    background: #f1f3f6;
    right: -100%;
    transition: all 0.3s;
    width: 400px;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    gap: 20px;
    align-items: flex-start;
    padding-left: 25px;
  }
  nav .show-menu {
    position: fixed;
    top: 100px;
    background: #f1f3f6;
    transition: all 0.3s;
    right: 0;
    width: 320px;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    gap: 30px;
    align-items: flex-start;
    padding-left: 25px;
    box-shadow: 9px 0px 16px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 9px 0px 16px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 9px 0px 16px 0px rgba(0, 0, 0, 0.75);
  }
  nav .show-menu li a {
    color: #184235;
    font-weight: 600;
  }
  nav .show-menu button {
    color: #184235;
    border: 1px solid #184235;
    font-weight: 600;
  }
  nav .show-menu button:hover {
    background: #18191c;
    color: #f1f3f6;
  }




  @media (max-width: 1520px) {
    nav .container {
      min-width: 100%;
    }
  }
  @media (max-width: 1130px) {
    .page {
      padding-top: 120px;
    }
    nav {
      position: fixed;
      width: 100%;
      left: 0;
      top: 0;
      z-index: 10;
    }
    nav .hamburger {
      display: block;
      font-size: 35px;
      color: #f1f3f6;
    }
    nav .container {
      align-items: center;
    }
    .menu {
      position: fixed;
      top: 120px;
      background: #f1f3f6;
      left: -100%;
      transition: all 0.3s;
      width: 400px;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      gap: 30px;
      align-items: flex-start;
      padding-left: 25px;
    }
    nav .show-menu {
      position: fixed;
      top: 120px;
      background: #f1f3f6;
      transition: all 0.3s;
      left: 0;
      width: 400px;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      gap: 30px;
      align-items: flex-start;
      padding-left: 25px;
      box-shadow: 9px 0px 16px 0px rgba(0, 0, 0, 0.75);
      -webkit-box-shadow: 9px 0px 16px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 9px 0px 16px 0px rgba(0, 0, 0, 0.75);
    }
    nav .show-menu li a {
      color: #184235;
      font-weight: 600;
    }
    nav .show-menu button {
      color: #184235;
      border: 1px solid #184235;
      font-weight: 600;
    }
    nav .show-menu button:hover {
      background: #18191c;
      color: #f1f3f6;
    }
  }
   



  




